body {
  color: #fff;
  background-color: #222;
}
.app {
  text-align: center;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 2em auto;
  padding: 2em;
  border-radius: 2em;
}
.button {
  padding: .5em 1em;
  margin: 0 2em 0 0;
  background-color: #222;
  border-color: #f00;
  box-shadow: 4px 4px 10px #fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.dicebag {
  border: solid 2px #00c;
}

.dicehand {
  border: solid 2px #fff;
}

.result {
  border: solid 5px #ff0;
}